<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js login system with mongodb</title>
    <link rel="stylesheet" href="/css/style.css">
     <script src="https://kit.fontawesome.com/75fed94e2b.js" crossorigin="anonymous"></script>

</head>