 <nav>
        <div class="logo">Paccy Login</div>
        <div class="menu">
           
            <a href="/profile">Profile</a>
            <a href="/register">Register</a>
            <a href="/">Login</a>
            <a href="/home">home</a>
          
          
        </div>
    </nav>