<!DOCTYPE html>
<html lang="en">
{{> header}}

<body>
   
{{> navbar  }}

    <div class="container-fluid">
    <h2>Home Page</h2>
    
    </div>
    <a href="/products">View Our products</a>

</body>
</html>