

<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>
   <ul class="products">
    
    <li class="product">
        <img src="/images/basketball-jersey.png" alt="">
        <h4>Banana Boost</h4>
        <p>Banana, Vanilla ice cream,Milk</p>

    </li>

    <li class="product">
        <img src="/images/football-jersey.png" alt="">
        <h4>Tropical twist</h4>
        <p>Peach,Pinapple,Apple juice</p>
    </li>
    <li class="product">
        <img src="/images/shoes.png" alt="">
        <h4>Protein Packer</h4>
        <p>Oats,Peanuts butter, Milk,Banana,Blueberries</p>
    </li>
    <li class="product">  
        <img src="/images/swimming-suit.png" alt="">
        <h4>Banana Boost</h4>
        <p>Banana, Vanilla ice cream,Milk</p>

    </li>
    <li class="product">
        <img src="/images/woman-clothes.png" alt="">
        <h4>Tropical twist</h4>
        <p>Peach,Pinapple,Apple juice</p>
    </li>

    <li class="product">
        <img src="/images/basketball-jersey (1).png" alt="" >
        <h4>Protein Packer</h4>
        <p>Oats,Peanuts butter, Milk,Banana,Blueberries</p>
    </li>
</ul>
</body>

</html>

