


<html lang="en">
<head>
 {{> header}}
<body>
        {{> navbar}}
    <div class="container">
        <div class="text">Updating</div>
     <form action="/update/{{user._id}}" method="post" id="update-user">
            <div class="data">
                <label for="name">Full Name</label>
                <input type="text" name="name" id="name" value="{{user.name}}">

            </div>
            <div class="data">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="{{user.email}}">
            </div>
            <div class="data">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">

            </div>
        <div class="btn">
                <button type="submit">Update</button>
            </div>
            <div class="signup-link">
                Not a member? <a href="/">Login now</a>
            </div>
            
        </form>
    </div>
</body>
</html>
</body>
</html>